html, body {
  font-family: "Courier New", Courier, monospace;
}

body {
  height: 100%;
}

.app-wrapper {
  height: 100vh;
  display: flex;
}

.game {
  flex: 1;
  min-height: 0;
  display: grid;
  grid-template-columns: 5fr 3fr 1fr;
  gap: 2rem;
  padding: 1rem;
}

.display {
  width: 100%;
}

.boards {
  height: 100%;
  min-height: 0;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: end;
  gap: 1rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  gap: 2rem;
}

.board1 {
  pointer-events: none;
  opacity: 0.6;
}

.board1,
.board2 {
  min-height: 0;
  display: flex;
}

.player-board,
.enemy-board {
  min-height: 0;
  display: grid;
  grid-template-rows: auto 1fr;
}


.ui {
  display: grid;
  grid-template-rows: 2fr 5fr;
  justify-content: center;
  align-items: center;
}

.buttons {
  align-items: center;
}
