body {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr;
  place-items: center;
  font-family: "Courier New", Courier, monospace;
  padding: 2rem;
}

.display {
  width: 100%;
}

.game {
  padding: 1rem 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  gap: 1rem;
}
.board {
  justify-self: end;
  align-self: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  gap: 2rem;
}
