body {
  font-family: "Courier New", Courier, monospace;
}

.app-wrapper {
  display: grid;
  height: 100vh;
  place-items: center;
}

.game {
  width: 100%;
  display: grid;
  height: 100vh;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
}

.display {
  width: 100%;
}

.boards {
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  gap: 2rem;
}
