.game {
  width: 100%;
  height: 100%;
  min-height: 0;

  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  gap: 2rem;
}

.boards {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  min-height: 0;
  grid-column-start: 2;
}

.player-board,
.target-board {
  display: grid;
  padding: 0.5rem 0;
  grid-template-rows: auto 1fr;
  gap: 0.5rem;
  min-height: 0;
  justify-content: right;
}

.player-board h2,
.target-board h2 {
  margin: 0;
  line-height: 1.2;
}

.board1,
.board2 {
  min-height: 0;
}

.board1 > .gameboard,
.board2 > .gameboard {
  height: 100%;
}
.board1 > .gameboard {
  pointer-events: none;
}


.player-board .gameboard {
  opacity: 0.9;
}

.ui {
  min-height: 0;
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 2rem;
  padding: 5rem 0;
}

.display {
  width: 100%;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  justify-content: flex-start;
}

.boards > * {
  min-height: 0;
}
.ui > * {
  min-height: 0;
}
