.gameboard {
  width: 100%;
  height: 100%;
  max-height: 100%;
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.square {
  background-color: #95ddda;
  border: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.9rem;
  color: #303030;
}

.square:hover {
  opacity: 0.8;
}

.square.ship {
  background-color: #858585;
}
.square.hit {
  background-color: #ff0000;
}
.square.miss {
  background-color: #000000;
}

.square:active {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.4);
  background-color: orange;
}

.square.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.player-board .gameboard {
  opacity: 0.9;
}

.enemy-board .gameboard {
  border: 2px solid red;
}
