.gameboard {
  width: 600px;
  height: 600px;
  background-color: #3bc0b9;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  border: 1px solid #333;
}

.square {
  background-color: #ffffff;
  border: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.9rem;
  color: #303030;
}
.square:hover {
  opacity: 0.8;
}
