.gameboard {
  width: 600px;
  height: 600px;
  background-color: #d4f7f5;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  outline: 1px solid #333;
}

.board1 {
  pointer-events: none;
  opacity: 0.6;
}

.square {
  background-color: #95ddda;
  border: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.9rem;
  color: #303030;
}

.square:hover {
  opacity: 0.8;
}

.square.ship {
  background-color: #858585;
}
.square.hit {
  background-color: #ff0000;
}
.square.miss {
  background-color: #000000;
}

.square.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.player-board .gameboard {
  opacity: 0.9;
}

.enemy-board .gameboard {
  border: 2px solid red;
}
