<div class="hud">
  <div class="message-label">Current status</div>
  <div class="turn-display"></div>
  <div class="message-screen">
    <div class="action-display"></div>
  </div>

  <div class="buttons">
    <button class="game-button" data-action="undo">Undo</button>
    <button class="game-button" data-action="redo">Redo</button>
    <button class="game-button" data-action="togglePause">Pause AI</button>
    <button class="game-button" data-action="restart">Restart</button>
    <button class="game-button" data-action="quit">Quit Game</button>
  </div>
</div>
