.hud {
  width: 100%;
  height: 150px;
  background-color: rgb(212, 212, 212);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.turn-display, .action-display {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

